<template>
  <main>
        <movie-section-component :movieSectionReceved="movieSection"/>
  </main>
</template>

<!--------------------------------------SCRIPT------------------------------------------->
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import MovieSectionComponent from "@/components/MovieSectionComponent.vue"

@Component({
  components: {
    MovieSectionComponent
  },
})
export default class Home extends Vue {
    movieSection = [
      {
        title: "This Wek's Trending Movies",
        apiPath: "trending/movie/week",
        isMovie: true,
        movies: []
      },
      {
        title: "Today's Trending Movies",
        apiPath: "trending/movie/day",
        isMovie: true,
        movies: []
      },{
        apiPath: "person/popular",
        isMovie: false,
        actors: []
      },{
        title: "Top Rated Movies",
        apiPath: "movie/top_rated",
        isMovie: true,
        movies: []
      },{
        title: "Upcoming Movies",
        apiPath: "movie/upcoming",
        isMovie: true,
        movies: []
      }
    ]
}
</script>

<!--------------------------------------STYLE------------------------------------------->
<style scoped lang="scss">
  
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  section {
    position: relative;
    max-width: 1070px;

    &:not(:last-child){
      border-bottom: #35495e solid 5px;
    }
  }
</style>
