<template>
<div v-if="movie">
    <div class="background-div" :style="`background-image:radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgb(0, 0, 0) 180%), url('https://image.tmdb.org/t/p/w1280${movie.backdrop_path}');`">
      <div class="main-div">

        <div class="left-div">
          <img :src="`https://image.tmdb.org/t/p/w200${movie.poster_path}`" >
          <span><i class="fas fa-star"></i><b :style="movie.vote_average < 6 ?`color: red`:`color: #41b883`"> {{movie.vote_average}}</b></span>
          <ul>
            <li v-for=" genre in movie.genres " :key="genre.name">{{genre.name}}</li>
          </ul>
        </div>

        <div class="right-div">
          <h1>{{movie.title}}</h1>
          <h4>"{{movie.tagline}}"</h4>
          <p>{{movie.overview}}</p>
        </div>

      </div>
    </div>
<button @click="confirm()">confirm</button> -->

      <div class="movie-section-div">
        <movie-section-component :movieSectionReceved="movieSection"/>
      </div>


    </div>
</template>

<!--------------------------------------SCRIPT------------------------------------------->
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import MovieSectionComponent from "@/components/MovieSectionComponent.vue"


@Component({
  components: {
    MovieSectionComponent
  }
    
})
export default class MoviePage extends Vue {
    movieSection:Array<any> = [];
    movie = null;

    async created(){
      this.$router.beforeEach(async (to, from, next) =>  {
        const id = to.params.id;
        if(!id){
          next();
          return;
        }
    
        this.movieSection = [
          {
            apiPath: `movie/${id}/credits`,
            isCast: false,
            actors: []
          },
          {
            title: "Similar Movies",
            apiPath: `movie/${id}/similar`,
            isMovie: true,
            movies: []
          },
          {
            title: "Recomendations",
            apiPath: `movie/${id}/recommendations`,
            isMovie: true,
            movies: []
          }
        ];

        const apikey = process.env.VUE_APP_VMDB;      
        const movieResponse = await fetch(`https://api.themoviedb.org/3/movie/${id}?api_key=${apikey}`)
        this.movie = await movieResponse.json();
        next();
      });
      
      const id = this.$route.params.id;

      this.movieSection = [
        {
          apiPath: `movie/${id}/credits`,
          isCast: true,
          actors: []
        },
        {
          title: "Similar Movies",
          apiPath: `movie/${id}/similar`,
          isMovie: true,
          movies: []
        },
        {
          title: "Recomendations",
          apiPath: `movie/${id}/recommendations`,
          isMovie: true,
          movies: []
        }
      ];

      const apikey = process.env.VUE_APP_VMDB;      
      const movieResponse = await fetch(`https://api.themoviedb.org/3/movie/${id}?api_key=${apikey}`)
      this.movie = await movieResponse.json();
  }

  confirm(){
    console.log(this.movieSection);
  }
}
</script>

<!--------------------------------------STYLE------------------------------------------->
<style lang="scss">
  .background-div {
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgb(0, 0, 0) 100%);
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-div {
    display: flex;
    justify-content: space-around;
    
    width: 1070px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }
  h1 {
    font-size: 50px;
    text-shadow: #fff 0 0 5px;
    margin-bottom: 0;
  }
  h4 {
    margin-top: 0;
    font-weight: 100;
    font-style: italic;
  }

  ul {
    list-style: none;
    padding: 0;
  }
  li{
    padding: 5px;
    font-size: 20px;

    &:hover {
      cursor: pointer;
      color: #41b883;
    }
  }

  .movie-section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-div {
    width: 200px;
  }
  .right-div {
    width: 800px;
  }
</style>
