<template>
    <a target="blank" :href="link">
        <span class="image" :style="`background-image: url('${image || imageNotFound}')`"></span>
        <p>{{name}}</p>
    </a>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';


@Component
export default class ActorTag extends Vue{
    imageNotFound = require('@/assets/image-not-found.png');
    @Prop(String) readonly link!: string;
    @Prop(String) readonly image!: string;
    @Prop(String) readonly name!: string;
}
</script>

<style scoped lang="scss">

    a {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-decoration: none;
        color: #224848;
        text-align: center;
    }

    .image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: .5rem;
        
        &:hover{
            box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
        }
    }
</style>