<template>
  <router-link :to="link">
    <div>
      <img :src="image" :alt="`Banner of ${title}`">
      <span><i class="fas fa-star"></i><b :style="rating < 6 ?`color: red`:`color: #41b883`"> {{rating}}</b></span>
      <h4>{{title}}</h4>
    </div>
  </router-link>
</template>

<!--------------------------------------SCRIPT------------------------------------------->
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({})
export default class CardComponent extends Vue {
  @Prop(String) readonly link!: string;
  @Prop(String) readonly title!: string;
  @Prop(String) readonly image!: string;
  @Prop(Number) readonly rating: number | undefined;
  @Prop(Number) readonly maxRating: number | undefined;

}
</script>

<!--------------------------------------STYLE------------------------------------------->
<style scoped lang="scss">
  div {
    margin: 0;
    &:hover {
      color: #5d8bbc;
    }
  }

  h4 {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  img {
    top: 0;
    left: 0;
    width: 180px;
    height: 258px;
    border-radius: 5px;

    &:hover {
      transition-duration: 0.6s;
      box-shadow: 10px 5px 5px #aca9a9;
    }
  }
</style>
