<template>
    <footer>
        <div class="logo"></div>

        <div>
            <h2>©FWG School Productions</h2>
        </div>

        <div class="social-medias" >
            <a v-for=" media in socialMedias " :key="media.name" :href="media.link" target="blank">
                <i :class="[media.name , media.icon]"></i>
            </a>
        </div>
    </footer>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})

export default class FooterComponent extends Vue {
    socialMedias = [
        {
            name: "facebook",
            icon: "fab fa-facebook-square",
            link: ""
        },
        {
            name: "instagram",
            icon: "fab fa-instagram",
            link: ""
        },
        {
            name: "twitter",
            icon: "fab fa-twitter-square",
            link: ""
        }
        ]
}
</script>

<style lang="scss" scoped>
    footer{
        height: 100px;
        margin: 100px auto 0 auto;
        display: flex;
        justify-content: space-around;

        width: 1070px;
        /* border-left: 5px solid #41b883; */
        border-top: #35495e solid 5px;
    }

    .logo {
        display: flex;

        background: url("~@/assets/logo.png") no-repeat center;
        /*background-size: contain;*/

        width: 200px;
    }

    .social-medias {
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 100px;
        width: 150px;
    }

    i{
        font-size: 3rem;
    }

    .facebook {
        color: #16a4fb;
    }

    .instagram {
        text-transform: uppercase;
        /* fundo gradiente */
        background-image: linear-gradient(to bottom left,#183cd6,#b734b1,#e229a1, #f55a10, #f6c148);
        /* agora colocamos o fundo gradiente dentro do texto com essa propriedade */
        background-clip: text;
        -webkit-background-clip: text;
        /* a cor do texto deve estar como transparent */
        color: transparent;
    }

    .twitter {
        color: #2aa9e0;
    }
</style>

