<template>
  <header>
    <router-link to="/" class="logo"></router-link>
    <nav>
      <ul>
        <li v-for="item in menu" :href="item.link" :key="item.link">
          <router-link :to="item.link">{{ item.text }}</router-link>
        </li>
      </ul>
    </nav>
    <div>
      <nav>
        <ul>
          <li v-for="item in authMenu" :href="item.link" :key="item.link">
            <router-link :to="item.link">{{ item.text }}</router-link>
          </li>
        </ul>
      </nav>
      <input @input="search" name="search" type="text" placeholder="Search" />
    </div>
  </header>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
// import { MenuLink } from "@/interfaces/menu"; <- vai pra raiz do projeto
import { debounce } from "lodash";
import { MenuLink } from "./interfaces/menu";

@Component({})
export default class HeaderComponent extends Vue {
  menu: Array<MenuLink> = [
    {
      text: "TV Show",
      link: "/tv-Show",
    },
    {
      text: "Movies",
      link: "/movies",
    },
    {
      text: "Upcoming",
      link: "/upcoming",
    },
  ];
  authMenu: Array<MenuLink> = [
    {
      text: "Login",
      link: "/login",
    },
    {
      text: "Register",
      link: "/register",
    },
  ];

  search(e:any) {
    debounce(() => {
      console.log(e.target.value);
    },500, {
      leading: true,
      trailing: false
    })
    
    
  }
}
</script>

<style scoped lang="scss">
header {
  display: flex;
  flex: 1;
  justify-content: space-around;
  height: 101px;

  background-color: #35495e;
  color: #fff;

  > * {
    display: flex;
    align-items: center;
  }
}

nav ul {
  list-style-type: none;

  display: flex;

  a {
    color: #fff;
    text-decoration: none;
    padding: 15px;

    &:hover {
      cursor: pointer;
      background-color: #41b883;
    }
  }
}

.logo {
  display: flex;

  background: url("~@/assets/logo.png") no-repeat center;
  /*background-size: contain;*/

  width: 200px;
}

input {
  display: flex;
  height: 32px;
  padding: 5px;
  margin-left: 5px;
}
</style>
