<template>
<div :v-if="movieSection">
      <section v-for="(movieSection, index) in movieSection" :key="movieSection.title">
        <template v-if="movieSection.isMovie">
            <h2>{{movieSection.title}}</h2>
            <div class="movie-wrapper" ref="ELEMENTO">
            <card-component
                v-for="movie in movieSection.movies" :key="movie.id" 
                :link="`/moviePage/${movie.id}`" 
                :title="movie.title"
                :image="`https://image.tmdb.org/t/p/w200${movie.poster_path}`" 
                :maxRating="movie.maxRating"
                :rating="movie.vote_average"
            />
            <button class="scroll-left" @click="moveScrollLeft(index)"><i class="fas fa-angle-left"><!--left--></i></button>
            <button class="scroll-right" @click="moveScrollRight(index)"><i class="fas fa-angle-right"><!--right--></i></button>
            </div>
      </template>

      <template v-else>
        <h2>Popular Actors</h2>
          <div class="movie-wrapper actor-wrapper" ref="ELEMENTO">
            <actor-tag v-for="actor in movieSection.actors" :key="actor.id"
              :link="`https://www.themoviedb.org/person/${actor.id}`"
              :name="actor.name"
              :image="actor.profile_path && `https://image.tmdb.org/t/p/w92${actor.profile_path}`"
            ></actor-tag>
          </div>
      </template>
    </section>
</div>
</template>

<!--------------------------------------SCRIPT------------------------------------------->
<script lang="ts">
    import { Component, Prop, Vue, Watch } from "vue-property-decorator";
    import CardComponent from "@/components/CardComponent.vue";
    import ActorTag from "@/components/ActorTag.vue";
 

    @Component({
    components: {
        CardComponent,
        ActorTag
    },
    })
    export default class MovieSectionComponent extends Vue {
        @Prop(Array) readonly movieSectionReceved: Array<any> | undefined;

        moveScrollRight(index:number){
            //@ts-ignore
            this.$refs.ELEMENTO[index].scrollLeft += 850;
            
        }
        moveScrollLeft(index:number){
            //@ts-ignore
            this.$refs.ELEMENTO[index].scrollLeft -= 850;
        }

        updateSection(){
          const apikey = process.env.VUE_APP_VMDB;
          this.movieSection = [];
            //@ts-ignore
          this.movieSectionReceved.forEach(async(movie) =>{
            const {apiPath, isMovie, isCast} = movie;
            const response = await fetch(`https://api.themoviedb.org/3/${apiPath}?api_key=${apikey}`);
            const responseJson = await response.json();
            
            
            if(isMovie){
              this.movieSection.push({
              ...movie,        
              movies: responseJson.results
              })
            }else if(isCast){
              this.movieSection.push({
              ...movie,
              actors: responseJson.cast 
              })
              
            }else{
              this.movieSection.push({
              ...movie,
              actors: responseJson.results.splice(0,12)
            }) 
            }})
            
        }


        movieSection:any = [];
        @Watch("movieSectionReceved")
        onMovieSectionRecevedChanged(){
          this.updateSection();
        }

        created(){
          this.updateSection();
        }
    }
</script>

<!--------------------------------------STYLE------------------------------------------->
<style scoped lang="scss">
    button{
    position: absolute;
    top: 45%;
    font-size: 2rem;
    border-radius: 100%;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #757a84;
  }
  button:hover{
    cursor: pointer;
    color: #0797c4;
  }

  .scroll-right {
    right: 0;
    margin-right: -20px;
  }
  .scroll-left{
    margin-left: -20px;
  }
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  section {
    position: relative;
    max-width: 1070px;

    &:not(:last-child){
      border-bottom: #35495e solid 5px;
    }
  }

  h2{
     border-left: 5px solid #41b883;
  }
  .movie-wrapper {
    display: flex;
    gap: 1rem;
    overflow: hidden;
    scroll-behavior: smooth;
  }

  .actor-wrapper {
    flex-wrap: wrap;
  }

  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  section {
    position: relative;
    max-width: 1070px;

    &:not(:last-child){
      border-bottom: #35495e solid 5px;
    }
  }
</style>