<template>
  <div>
    <header-component />
    <main>
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
      <router-view></router-view>
    </main>
    <footer-component />
  </div>
</template>

<!--------------------------------------SCRIPT------------------------------------------->
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HeaderComponent from "./components/HeaderComponent.vue";
import FooterComponent from "./components/FooterComponent.vue";
@Component({
  components: {
    HeaderComponent,
    FooterComponent
  },
})
export default class App extends Vue {}
</script>

<!--------------------------------------STYLE------------------------------------------->
<style lang="scss">
  body {
    font-family: sans-serif;
    margin: 0;
  }

</style>
